
.custom-table {
  width: 100%;
  margin-top: 20px;
}

.custom-table th,
.custom-table td {
  text-align: center;
}

.btn-details {
  background-color: #28a745;
  color: #fff;
  border-color: #218838;
}

.btn-details:hover {
  background-color: #218838;
}
